body {
  font-family: Ubuntu;
  background-color: #100055;
  color: #FFC096;
}

h1 {
  padding-top: 20px;
}

a {
  color: #FFE7D8;
}

code {
  background: #F3E0E9;
  color: #BA005D;
  padding: 2px;
  border-radius: 4px;
}
